<form class="form-horizontal">
	<h3>{{ _('Communication Settings') }}</h3>
    <div class="control-group" title="{{ _('Serial port to connect to, setting this to AUTO will make OctoPrint try to automatically find the right setting') }}">
		<label class="control-label" for="settings-octoremoteE-serialPort">{{ _('Serial Port') }}</label>
		<div class="controls">
			<select id="settings-octoremoteE-serialPort" data-bind="options: serial_portOptions, value: settings.plugins.octoremote.comport"></select>
		</div>
	</div>
    <div class="control-group" title="{{ _('Serial baud rate to connect with, setting this to AUTO will make OctoPrint try to automatically find the right setting') }}">
        <label class="control-label" for="settings-octoremoteE-baudrate">{{ _('Baudrate') }}</label>
        <div class="controls">
            <select id="settings-octoremoteE-baudrate" data-bind="options: settings.plugins.octoremoteE.baudrateOpt, value: settings.plugins.octoremote.baudrate"></select>
        </div>
    </div>
	<h3>{{ _('Custom G-codes') }}</h3>
	<div class="control-group" title="{{_('Custom G-codes') }}">
        <label class="control-label" for="knop1">{{ _('knop1') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop1" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremote.knop1">
			</div>
        </div>
        <label class="control-label" for="knop2">{{ _('knop2') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop2" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremote.knop2">
			</div>
        </div>
        <label class="control-label" for="knop3">{{ _('knop3') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop3" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremote.knop3">
			</div>
        </div>
        <label class="control-label" for="knop4">{{ _('knop4') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop4" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremote.knop4">
			</div>
        </div>

        <label class="control-label" for="knop5">{{ _('knop5') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop5" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremoteE.knop5">
			</div>
        </div>
        <label class="control-label" for="knop6">{{ _('knop6') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop6" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremoteE.knop6">
			</div>
        </div>
        <label class="control-label" for="knop7">{{ _('knop7') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop7" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremoteE.knop7">
			</div>
        </div>
        <label class="control-label" for="knop8">{{ _('knop8') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-octoremoteE-knop8" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremoteE.knop8">
			</div>
        </div>

		
	<h3>{{ _('Extrusion Settings') }}</h3>
    </div>
		<div class="control-group" title="{{_('Extrusion') }}">
			<label class="control-label" for="settings-octoremoteE-extrudercount">{{ _('Installed Extruders') }}</label>
			<div class="controls">
				<input id="settings-octoremoteE-extrudercount" min="1" max="4" type="number" class="input-mini text-right" data-bind="value: settings.plugins.octoremoteE.numberOfTools">
			</div>
			
		</div>

    
</form>